<app-header></app-header>

<ng-container
  *ngIf="{
    result: result$ | async,
    activeCategories: (activeCategories$ | async)!
  } as ui"
>
  <main class="main container">
    <app-filter
      [categories]="ui.result?.categories"
      [activeCategories]="ui.activeCategories"
      (active)="onChangeFilter($event)"
    ></app-filter>

    <ng-container *ngFor="let item of ui.result?.data">
      <ng-container *ngIf="filter(ui.activeCategories, item.category)">
        <mat-divider></mat-divider>

        <div class="main__item">
          <app-card-quiz
            [item]="item"
            [categories]="ui.result.categories"
          ></app-card-quiz>
        </div>
      </ng-container>
    </ng-container>
  </main>
</ng-container>

<router-outlet></router-outlet>

<footer></footer>

<!-- <ngx-cursor
  [cursor]="false"
  [zindex]="9999"
  [selectors]="['go', 'false']"
  [words]="['Go', 'presque']"
></ngx-cursor> -->
