<main class="main container">
  <router-outlet></router-outlet>
</main>

<footer class="footer">
  <div class="container">
    Ce site n'utilise pas de cookie, ne nécessite pas de compte et ne contient
    pas de publicité.<br /><br />

    Les quiz sont humoristiques. Aucun quiz ne cible directement une personne ou
    un parti politique. L'idée est de dénoncer la classe politique française
    dans la globalité.<br /><br />

    Aucune donnée n'est enregistrée en ligne. Les résultats des quiz sont
    sauvegardés temporairement dans le "localStorage" de votre appareil. Vous
    pouvez le réinitialiser complétement en
    <button (click)="resetStorage()">cliquant ici</button>.
  </div>
</footer>
