

.header{
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9;

  &__content{
    display: flex;
    align-items: center;
  }

  &__space{
    width: 20px;
  }
  
  .h1{
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    @media screen and (min-width: 600px) {
      font-size: 24px;
    }
  }
}