.card-quiz{
  display: flex;
  flex-direction: column-reverse;
  
  @media screen and (min-width: 600px) {
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  @media screen and (min-width: 900px) {
    flex-direction: row;
  }

  &__txts{
    display: flex;
    flex-direction: column;
    flex:1;

    @media screen and (min-width: 900px) {
      align-items: center;
      flex-direction: row;
      justify-content: space-between;
      padding-left:30px;
    }
  }

  &__categories{
    display: none;
    
    @media screen and (min-width: 600px) {
    display: block;
    }
  }

  &__title{
    .h2{
      font-size: 18px;
      font-weight: 700;
      margin-bottom: 5px;
      margin-top: 5px;
      
      @media screen and (min-width: 900px) {
        font-size: 22px;
      }
    }
  }

  &__cta{
  }

  &__imgs{
    display: flex;
    grid-gap: 5px;
    margin-top: 10px;
    
    @media screen and (min-width: 600px) {
      margin-top:  0;
      margin-left: 10px; 
    }
    @media screen and (min-width: 900px) {
      margin-left: 0;
    }
  }

  &__img{
    display: block; 
    filter: saturate(4000%) grayscale(50%);
    height: 50px;
    object-fit: cover;
    transition: all 100ms ease-out;
    width: 50px;
    user-drag: none;
    user-select: none;
    pointer-events: none;
    
    @media screen and (min-width: 600px) {
      height: 80px;
      width: 80px;
    }
    @media screen and (min-width: 900px) {
      height: 100px;
      width: 100px;
    }
  }
}