<ng-container
  *ngIf="{
    questions: questions$ | async,
    result: result$ | async,
    currentQuestion: currentQuestion$ | async,
    currentStatus: currentStatus$ | async
  } as ui"
>
  <app-header [title]="ui.result?.title!"></app-header>

  <div class="quiz-single">
    <ng-container *ngFor="let question of ui.questions; let i = index">
      <div class="quiz-single__count" *ngIf="i == ui.currentQuestion">
        Question {{ i + 1 }} sur {{ ui.questions?.length }}
      </div>

      <mat-accordion *ngIf="i == ui.currentQuestion">
        <mat-expansion-panel [expanded]="true">
          <!--  QUESTION -->
          <div class="quiz-single__question">
            <h2 class="quiz-single__title title">{{ question.title }}</h2>
            <mat-divider></mat-divider>

            <ng-container *ngIf="ui.currentStatus == 0">
              <div class="quiz-single__form">
                <div
                  *ngFor="let option of question.options"
                  class="quiz-single__form-item"
                >
                  <mat-checkbox
                    #checkbox
                    (change)="checkboxChange($event)"
                    [value]="option"
                  >
                    {{ option }}
                  </mat-checkbox>
                </div>
                <div class="quiz-single__form-cta">
                  <button
                    mat-button
                    class="button"
                    (click)="valid(ui.result?.id!, question.responses)"
                  >
                    Confirmer ma réponse
                    <mat-icon>done</mat-icon>
                  </button>
                </div>
              </div>
            </ng-container>
          </div>

          <!-- RESULT -->
          <div *ngIf="ui.currentStatus == 1 || ui.currentStatus == 2">
            <div
              class="quiz-single__result quiz-single__success"
              *ngIf="ui.currentStatus == 1"
            >
              <img
                [src]="randomGifSuccess"
                alt=""
                width="200px"
                height="200px"
              />
              <mat-icon>check_circle</mat-icon>
              <div>Bonne réponse</div>
            </div>
            <div
              class="quiz-singlee__result quiz-single__fail"
              *ngIf="ui.currentStatus == 2"
            >
              <img [src]="randomGifFail" alt="" width="200px" height="200px" />
              <mat-icon>cancel</mat-icon>
              <div>Mauvaise réponse</div>
            </div>

            <div>
              <h2 class="title">Contexte :</h2>
              <div [innerHTML]="question.comment"></div>
              <a [attr.href]="question.source" target="_blank">
                {{ question.source }}
              </a>
              <div class="quiz-single__form-cta">
                <button
                  mat-button
                  class="button"
                  (click)="next(i)"
                  *ngIf="ui.questions?.length !== i + 1; else seeResult"
                >
                  Question suivante
                  <mat-icon>skip_next</mat-icon>
                </button>
              </div>
            </div>
          </div>

          <!--  -->
        </mat-expansion-panel>
      </mat-accordion>
    </ng-container>
  </div>
</ng-container>

<ng-template #seeResult>
  <a mat-button class="button" routerLink="resultat">
    Voir les résultats
    <mat-icon>skip_next</mat-icon>
  </a>
</ng-template>
