/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

body{
  background-color: #eff3f2;
}

.title{
  font-family: 'Roboto Mono', monospace !important;
}

.container{
  margin: 0 auto;
  max-width: 800px;
  padding: 0 20px;
  width: 100%;
}



/*
* MATERIAL
*/

mat-toolbar, .selected{
  background-color: #FFA000!important;
}

.button.mat-button{
  background-color: #FFA000;
  height: 45px;
  display: inline-flex;
  align-items: center;
}