/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Mono', monospace;
}

.title{
  font-family: 'Roboto Mono', monospace !important;
}

.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 20px;
}

